.form-contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

    .form-contacto input, .form-contacto textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%
}

.form-contacto label {
    /*font-weight: bold;*/
}
