@* le puse autos porque en el ejemplo del profe dice Autos y asi no le cambio al codigo *@

@{
    ViewBag.Title = "Login";
}

<h2>Iniciar sesión</h2>

<p>lo otro eran unas imagenes para poner pero tine que descargar las imagenes y ponerle la url de las mismas entonces preferi quitarlas y que solo vea que si funciona</p>