/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

html {
    font-size: 14px;
    color: white;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

#Bienvenida {
    color: white;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}




body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(45deg, #000000, /* Negro */
    #ff0000, #000000, /* Rojo Ferrari */
    #f5c300, #000000 /* Amarillo Lamborghini */
    );
    background-size: 400% 400%;
    animation: fondoAnimado 20s ease infinite;
}

@keyframes fondoAnimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.formulario {
    background: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    color: white;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);   /*codigo del css en c#*/